.column {
  width: auto;
  position: relative;
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.1);

  &:last-child {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  &:first-child {
    border-left: 0;
  }
}
